/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
	background: #87cefa;
	/*background: -moz-linear-gradient(top, #87cefa 0%, #88c8fc 50%, #5dabef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87cefa), color-stop(50%,#88c8fc), color-stop(100%,#5dabef));
	background: -webkit-linear-gradient(top, #87cefa 0%,#88c8fc 50%,#5dabef 100%);
	background: -o-linear-gradient(top, #87cefa 0%,#88c8fc 50%,#5dabef 100%);
	background: -ms-linear-gradient(top, #87cefa 0%,#88c8fc 50%,#5dabef 100%);
	background: linear-gradient(to bottom, #87cefa 0%,#88c8fc 50%,#5dabef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cefa', endColorstr='#5dabef',GradientType=0 );*/
	text-align: center;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0 20px;
	-webkit-appearance: none;
}

.alert-container {
	position: relative;
	width: 100%;
	font-family: Montserrat, sans-serif;
	background-color: #fff;
	padding: 1rem 40px;
	margin: 0 -40px; /* offsets body&html padding */
	line-height: 1.5rem;
}

.alert {
	display: inline-block;
	max-width: 85%;
}

.close {
	display: inline-block;
	position: absolute;
	right: 25px;
	float: right;
	margin-top: -3px;
	font-size: 1.5rem;
}

.close:hover {
	color: #999;
	cursor: pointer;
}

#modal-backdrop {
	background:rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	display: flex;
	overflow: auto;
	position: fixed;
	top: 0;
	transition: opacity .2s;
	width: 100%;
	z-index: 1;
}

#modal {
	background: #fff;
	margin: auto;
	max-width: 800px;
	overflow: auto;
	overflow-x: hidden;
	padding: 2.5rem 1rem;
	position: relative;
	transform: scale(.8);
	transition: transform .3s;
	width: 100%;
	font-family: Montserrat, sans-serif;
	color: #666;
	top: -15%;
}

#modal-close {
	right: 10px;
	top: 8px;
}

#link-container {
	font-size: 2.5rem;
	padding: 20px 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#splash-link {
	font-size: 2.5rem;
	text-decoration: none;
}

.modal-info {
	font-size: 1.5rem;
	line-height: 2rem;
}

.butt {
	font-size: 1.1rem;
}

h1 {
	color: #f0fafa;
	font-size: 7rem;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	padding: 3rem 0 0;
	margin: 0;
}

h2 {
	color: #f0fafa;
	font-family: Merriweather, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin: 0 0 3rem;
}

button {
	font-size: 20px;
	border: 1px;
	padding: 1rem 3rem;
	margin: 0 0 3rem;
	word-spacing: 2px;
	font-family: Montserrat, sans-serif;
	box-shadow: 6px 6px 2px #7ad;
	background-color: #f0fafa;
	color: #7be;
	cursor: pointer;
	-webkit-appearance: none;
}

button:hover {
	box-shadow: 3px 3px 1px #59c;
	transform: translate(3px, 3px);
}

#testimonial {
	font-family: Merriweather, serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #666; /* ▐  ⊙ ▃ ⊙ ▐ */
}

form-container {
	width: 100%;
	text-align: center;
	padding: 50px;
}

form {
	font-family: Montserrat, sans-serif;
	font-weight: 400px;
	margin: 50px 30px 0 0;
	width: 300px;
	display: inline-block;
	-webkit-appearance: none;
}

form > input {
	color: #aaa;
	font: inherit;
	width: 100%;
	line-height: 2rem;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	border-top: 1px #ddd;
	border-left: 0;
	border-right: 1px #ddd;
	font-size: 100%;
	vertical-align: baseline;
	display: block;
	-webkit-appearance: none;
	/*transition: 0.2s ease all */
}

form > input:active, form > input:focus, button:active, button:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}

form > label {
	display: none;
}

input[type=text], input[type=submit] {
	margin: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.incorrect {
	color: #ff6a69;
}

#first_name {
	border-top: 0;
	border-radius: 4px 4px 0 0;
}

#phone_number {
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}

#submit-button {
	visibility: hidden;
	opacity: 0;
	border: 0;
	border-radius: none;
	line-height: 2rem;
	font-size: 1.25rem;
	color: #f0fafa;
	width: 330px;
	padding: 15px;
	margin: 25px 0;
	transition: 0.5s ease all;
	-webkit-appearance: none;
}

.valid-submit {
	background-color: #48d;
	text-shadow: 1px 1px 1px #444;
	cursor: pointer;
}

.valid-submit:hover {
	background-color: #59e;
}

.invalid-submit {
	background-color: #ccc;
	cursor: auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #aaa;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #aaa;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #aaa;
}


#text-count {
	position: fixed;
	bottom: 6rem;
	left: 0;
	right: 0;
	color: #666;
	font-family: Montserrat, sans-serif;
	width: 100%;
	box-shadow: 0 20px #87cefa;
}

#number {
	font-size: 3rem;
}

footer {
	position: absolute;
	font-size: 0.9rem;
	color: #fff;
	background-color: #666;
	text-decoration: none;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: Montserrat;
	line-height: 5rem;
}

footer > span {
	display: inline-block;
}

footer > span > a {
	color: #87cefa; /* default blue */
	text-decoration: none;
	transition: 0.2s ease all;
}

.footer-left {
	float: left;
	padding-left: 10%;
}

.footer-right {
	float: right;
	padding-right: 10%;
}


@media only screen and (max-width: 800px) {
	html, body {
		font-size: 14px;
		padding: 0 10px;
	}
	.alert-container {
		padding: 1rem 20px;
		margin: 0 -20px;
	}
	.close {
		right: 10px;
	}
	h1 {
		font-size: 6rem;
		padding: 3rem 0 1rem;
	}
	#testimonial {
		font-size: 1.1rem;
	}
	#text-count {
		bottom: 7rem;
	}
	footer {
		padding: 15px 0;
		text-align: center;
	}
	footer > span {
		display: block;
		line-height: 2rem;
	}
	.footer-left, .footer-right {
		float: none;
		padding: 0;
	}
}

@media only screen and (max-width: 640px) {
	html, body {
		font-size: 13px;
	}
	h1 {
		font-size: 5rem;
		padding: 2rem 0 1rem;
	}
	#splash-link {
		font-size: 2rem;
	}
	.modal-info {
		font-size: 1.3rem;
		line-height: 1.9rem;
	}
	#modal {
		top: 0;
	}
}

@media only screen and (max-width: 480px) {	
	h1 {
		font-size: 4rem;
	}
	#splash-link {
		font-size: 1.8rem;
	}
	#submit-button {
		display: inline; /* instead of none */
		opacity: 1;
	}
}

@media only screen and (max-width: 400px) {	
	h1 {
		font-size: 3.5rem;
	}
	#splash-link {
		font-size: 1.6rem;
	}
}


