{% extends "foundation.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block body %}

{% if error %}
<div class="error">
	"you goofed. Try the form again"
</div>
{% endif %}

<div class="form-container">
    <form method="POST" action="/create-page">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.first_name.label }} {{ form.first_name(size=20, placeholder="First name")}}
        {{ form.last_name.label }} {{ form.last_name(size=20, placeholder="Last name") }}
        {{ form.phone_number.label }} {{ form.phone_number(size=20, placeholder="Phone number") }}

        <input type="submit" id="submit-button" value="Go!">
    </form>
</div>



{% endblock %}