{% extends "foundation.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block body %}

{% if error %}
<div class="error">
	"you goofed. Try the form again"
</div>
{% endif %}

<div class="form-container">
    <form method="POST" action="/create-page">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.first_name.label }} {{ form.first_name(size=20, placeholder="First name")}}
        {{ form.last_name.label }} {{ form.last_name(size=20, placeholder="Last name") }}
        {{ form.phone_number.label }} {{ form.phone_number(size=20, placeholder="Phone number") }}

        <input type="submit" id="submit-button" value="Take 'em down a notch">
    </form>
</div>

<script>
    function nameValidation() {
        var firstName = document.getElementById("first_name");
        var lastName = document.getElementById("last_name");
        var phoneNumber = document.getElementById("phone_number");

        if (firstName.value.length < 3) {
            firstName.style.color = "#aaa";
        }
        else if (firstName.value.length < 15) {
            firstName.style.color = "#87cefa";
        }
        else {
            firstName.style.color = "#ff6a69";
        }

        if (lastName.value.length < 3) {
            lastName.style.color = "#aaa";
        }
        else if (lastName.value.length < 15) {
            lastName.style.color = "#87cefa";
        }
        else {
            lastName.style.color = "#ff6a69";
        }

        phoneValidation(phoneNumber);
    }

    function phoneValidation(phoneInput) {

        var cleanedInput = phoneInput.value.toString().replace(/\D+/g, "").replace(/^[01]/, "");

        if (cleanedInput.length < 10) {
            phoneInput.style.color = "#aaa";
        }
        else if (cleanedInput.length === 10) {
           phoneInput.style.color = "#87cefa";
        }
        else {
            phoneInput.style.color = "#ff6a69";
        }
    }

    window.setInterval(nameValidation, 100);

</script>

{% endblock %}