<!DOCTYPE html>	
<html>
<head>
	<meta charset="utf-8">
	<title>Matt sucks.</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="Matt Piccolella is a piece of human garbage.">

	<meta name="author" content="Evan Tarrh">

	<meta name="robots" content="nofollow">

	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="http://dummyimage.com/100x100/87cefa/87cefa.png&text=+">
	<link rel="icon" href="http://dummyimage.com/100x100/87cefa.png">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>
	<h1>Matt sucks</h1>
	<h2>And he deserves to know it.</h2>
	<button id="matt-sucks">Tell Matt he sucks.</button>
	<div id="testimonial">"It's about time someone took him down a notch." - Matt's mom</div>
	<footer>Made with love by <a href="https://evantarrh.com">Evan</a>.</footer>
	<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>