{% extends "foundation.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block body %}
<article
	id="data"
	data-firstname="{{first_name}}"
	data-backgroundcolor="{{background_color}}"
	data-font="{{font}}"
	data-gender="{{gender}}"
    data-urlstring = "{{urlstring}}"
    >

</article>

<div class="alert-container">
	<div class="alert">
		Nice! You've successfully created a page for {{first_name}}.
	</div>
	<div class="close">
		X
	</div>
</div>

<h1>{{first_name}} sucks</h1>

{% if gender == "they" %}
	<h2>And {{gender}} deserve to know it.</h2>
	<button id="matt-sucks">Tell {{first_name}} {{gender}} suck.</button>
{% else %}
	<h2>And {{gender}} deserves to know it.</h2>
	<button id="matt-sucks">Tell {{first_name}} {{gender}} sucks.</button>
{% endif %}

<div id="testimonial"></div>

<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}